extends layout

block content
    .bodyContent
        .heading
            h1 Welcome to the #{site} #{page} page!
        .video
            iframe(width='560', height='315', src='https://www.youtube.com/embed/HzdIQ8tpivE', frameborder='0', allowfullscreen='')
            // Remember to take the 'embed' link. don't copy the 'watch' url

