.header
    .headerContent
        .container
            .logo
                a(href = "/")
                    img#logo(src = "/images/SkillCourt-Logo.png")
                    h1 SkillCourt
            .nav
                ul
                    li
                        a(href = "/") Home
                    li
                        a(href = "/about") About
                    li
                        a(href = "/download") Download
                    li
                        a(href = "/products") Products
                    li
                        a(href = "/signIn") Sign In
                    li
                        a(href = "/users") My Account
                






















   
