.header
    .container(data-role = "header")
        .logo
            a(href = "/")
                img#logo(src = "/images/SkillCourt-Logo.png")
                h1 SkillCourt
        .nav
            h2(onclick = "openNav()") &#9776;
        .sidenav#sidenav
            a(href = "javascript:void(0)" class = "closebtn" onclick = "closeNav()") &times;
            a(href = "/about") About
            a(href = "/download") Download
            a(href = "/products") Products
            a(onclick = "MyAccountRedirect()") My Account

        


       
    script(src = "/javascripts/header.js")
  
        