doctype html
html(ng-app = "next-update-stats")
  head
    title= title 
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
    script(src='javascripts/next-update-stats.js')


  body(ng-app = 'SkillCourt')

    include header
    br
    br
    block content
    br
    br
    include footer
